babelfish==0.5.5
certifi==2020.12.5
chardet==4.0.0
configparser==5.0.1
DateTime==4.3
docopt==0.6.2
guessit==3.1.1
idna==2.10
pathlib==1.0.1
prompt-toolkit==3.0.8
python-dateutil==2.8.1
pytz==2020.4
rebulk==2.0.1
requests==2.25.1
six==1.15.0
urllib3==1.26.3
wcwidth==0.2.5
zope.interface==5.2.0
IMDbPY==2020.9.25
xmltodict==0.12.0
